:root {
  --md-source: #396a1f;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary4: #031200;
  --md-ref-palette-primary5: #041500;
  --md-ref-palette-primary6: #051800;
  --md-ref-palette-primary10: #082100;
  --md-ref-palette-primary12: #0a2500;
  --md-ref-palette-primary17: #0f3100;
  --md-ref-palette-primary20: #123800;
  --md-ref-palette-primary22: #153d00;
  --md-ref-palette-primary24: #174200;
  --md-ref-palette-primary25: #184500;
  --md-ref-palette-primary30: #215105;
  --md-ref-palette-primary35: #2d5d13;
  --md-ref-palette-primary40: #396a1f;
  --md-ref-palette-primary50: #518435;
  --md-ref-palette-primary60: #699e4c;
  --md-ref-palette-primary70: #83ba64;
  --md-ref-palette-primary80: #9dd67d;
  --md-ref-palette-primary87: #b0ea8e;
  --md-ref-palette-primary90: #b9f396;
  --md-ref-palette-primary92: #bef89b;
  --md-ref-palette-primary94: #c4fea0;
  --md-ref-palette-primary95: #cdffae;
  --md-ref-palette-primary96: #d9ffbf;
  --md-ref-palette-primary98: #eeffde;
  --md-ref-palette-primary99: #f7ffec;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary4: #031200;
  --md-ref-palette-secondary5: #041500;
  --md-ref-palette-secondary6: #051700;
  --md-ref-palette-secondary10: #082100;
  --md-ref-palette-secondary12: #0b2500;
  --md-ref-palette-secondary17: #103100;
  --md-ref-palette-secondary20: #143800;
  --md-ref-palette-secondary22: #163d00;
  --md-ref-palette-secondary24: #184200;
  --md-ref-palette-secondary25: #194500;
  --md-ref-palette-secondary30: #225105;
  --md-ref-palette-secondary35: #2e5d12;
  --md-ref-palette-secondary40: #3a6a1e;
  --md-ref-palette-secondary50: #528435;
  --md-ref-palette-secondary60: #6a9e4c;
  --md-ref-palette-secondary70: #84ba63;
  --md-ref-palette-secondary80: #9ed67c;
  --md-ref-palette-secondary87: #b1ea8e;
  --md-ref-palette-secondary90: #b9f295;
  --md-ref-palette-secondary92: #bff89a;
  --md-ref-palette-secondary94: #c4fea0;
  --md-ref-palette-secondary95: #ceffad;
  --md-ref-palette-secondary96: #d9ffbe;
  --md-ref-palette-secondary98: #eeffdd;
  --md-ref-palette-secondary99: #f8ffec;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary4: #190b00;
  --md-ref-palette-tertiary5: #1d0d00;
  --md-ref-palette-tertiary6: #200f00;
  --md-ref-palette-tertiary10: #2c1700;
  --md-ref-palette-tertiary12: #311a00;
  --md-ref-palette-tertiary17: #402300;
  --md-ref-palette-tertiary20: #492900;
  --md-ref-palette-tertiary22: #4f2d00;
  --md-ref-palette-tertiary24: #553100;
  --md-ref-palette-tertiary25: #583300;
  --md-ref-palette-tertiary30: #683d00;
  --md-ref-palette-tertiary35: #784700;
  --md-ref-palette-tertiary40: #895100;
  --md-ref-palette-tertiary50: #ac6700;
  --md-ref-palette-tertiary60: #cf7d00;
  --md-ref-palette-tertiary70: #f59500;
  --md-ref-palette-tertiary80: #ffb86c;
  --md-ref-palette-tertiary87: #ffd2a6;
  --md-ref-palette-tertiary90: #ffdcbc;
  --md-ref-palette-tertiary92: #ffe3cb;
  --md-ref-palette-tertiary94: #ffead9;
  --md-ref-palette-tertiary95: #ffeee0;
  --md-ref-palette-tertiary96: #fff1e7;
  --md-ref-palette-tertiary98: #fff8f4;
  --md-ref-palette-tertiary99: #fffbff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral4: #0d0f0b;
  --md-ref-palette-neutral5: #10120e;
  --md-ref-palette-neutral6: #121410;
  --md-ref-palette-neutral10: #1a1c18;
  --md-ref-palette-neutral12: #1e201c;
  --md-ref-palette-neutral17: #292b26;
  --md-ref-palette-neutral20: #2f312d;
  --md-ref-palette-neutral22: #343531;
  --md-ref-palette-neutral24: #383a35;
  --md-ref-palette-neutral25: #3a3c37;
  --md-ref-palette-neutral30: #464742;
  --md-ref-palette-neutral35: #51534e;
  --md-ref-palette-neutral40: #5d5f5a;
  --md-ref-palette-neutral50: #767872;
  --md-ref-palette-neutral60: #90918b;
  --md-ref-palette-neutral70: #abaca5;
  --md-ref-palette-neutral80: #c6c7c0;
  --md-ref-palette-neutral87: #dadad4;
  --md-ref-palette-neutral90: #e3e3dc;
  --md-ref-palette-neutral92: #e8e9e2;
  --md-ref-palette-neutral94: #eeeee7;
  --md-ref-palette-neutral95: #f1f1ea;
  --md-ref-palette-neutral96: #f4f4ed;
  --md-ref-palette-neutral98: #fafaf3;
  --md-ref-palette-neutral99: #fdfdf5;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant4: #0b1008;
  --md-ref-palette-neutral-variant5: #0e120a;
  --md-ref-palette-neutral-variant6: #10150d;
  --md-ref-palette-neutral-variant10: #181d15;
  --md-ref-palette-neutral-variant12: #1c2118;
  --md-ref-palette-neutral-variant17: #272b22;
  --md-ref-palette-neutral-variant20: #2d3229;
  --md-ref-palette-neutral-variant22: #31362d;
  --md-ref-palette-neutral-variant24: #363b31;
  --md-ref-palette-neutral-variant25: #383d33;
  --md-ref-palette-neutral-variant30: #43483e;
  --md-ref-palette-neutral-variant35: #4f544a;
  --md-ref-palette-neutral-variant40: #5b6055;
  --md-ref-palette-neutral-variant50: #74796d;
  --md-ref-palette-neutral-variant60: #8d9286;
  --md-ref-palette-neutral-variant70: #a8ada0;
  --md-ref-palette-neutral-variant80: #c3c8bb;
  --md-ref-palette-neutral-variant87: #d7dcce;
  --md-ref-palette-neutral-variant90: #e0e4d6;
  --md-ref-palette-neutral-variant92: #e5eadc;
  --md-ref-palette-neutral-variant94: #ebf0e2;
  --md-ref-palette-neutral-variant95: #eef3e4;
  --md-ref-palette-neutral-variant96: #f1f5e7;
  --md-ref-palette-neutral-variant98: #f7fbed;
  --md-ref-palette-neutral-variant99: #fafef0;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error4: #280001;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error6: #310001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error12: #490002;
  --md-ref-palette-error17: #5c0004;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error22: #710005;
  --md-ref-palette-error24: #790006;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error87: #ffcfc9;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error92: #ffe2de;
  --md-ref-palette-error94: #ffe9e6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error96: #fff0ee;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  /* light */
  --md-sys-color-primary-light: #396a1f;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #b9f396;
  --md-sys-color-on-primary-container-light: #082100;
  --md-sys-color-primary-fixed-light: #b9f396;
  --md-sys-color-on-primary-fixed-light: #082100;
  --md-sys-color-primary-fixed-dim-light: #9dd67d;
  --md-sys-color-on-primary-fixed-variant-light: #215105;
  --md-sys-color-secondary-light: #3a6a1e;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #b9f295;
  --md-sys-color-on-secondary-container-light: #082100;
  --md-sys-color-secondary-fixed-light: #b9f295;
  --md-sys-color-on-secondary-fixed-light: #082100;
  --md-sys-color-secondary-fixed-dim-light: #9ed67c;
  --md-sys-color-on-secondary-fixed-variant-light: #225105;
  --md-sys-color-tertiary-light: #895100;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #ffdcbc;
  --md-sys-color-on-tertiary-container-light: #2c1700;
  --md-sys-color-tertiary-fixed-light: #ffdcbc;
  --md-sys-color-on-tertiary-fixed-light: #2c1700;
  --md-sys-color-tertiary-fixed-dim-light: #ffb86c;
  --md-sys-color-on-tertiary-fixed-variant-light: #683d00;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fdfdf5;
  --md-sys-color-on-background-light: #1a1c18;
  --md-sys-color-outline-light: #74796d;
  --md-sys-color-inverse-on-surface-light: #f1f1ea;
  --md-sys-color-inverse-surface-light: #2f312d;
  --md-sys-color-inverse-primary-light: #9dd67d;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #396a1f;
  --md-sys-color-outline-variant-light: #c3c8bb;
  --md-sys-color-scrim-light: #000000;
  --md-sys-color-surface-light: #fafaf3;
  --md-sys-color-on-surface-light: #1a1c18;
  --md-sys-color-surface-variant-light: #e0e4d6;
  --md-sys-color-on-surface-variant-light: #43483e;
  --md-sys-color-surface-container-highest-light: #e3e3dc;
  --md-sys-color-surface-container-high-light: #e8e9e2;
  --md-sys-color-surface-container-light: #eeeee7;
  --md-sys-color-surface-container-low-light: #f4f4ed;
  --md-sys-color-surface-container-lowest-light: #ffffff;
  --md-sys-color-surface-dim-light: #dadad4;
  --md-sys-color-surface-bright-light: #fafaf3;
  /* dark */
  --md-sys-color-primary-dark: #9dd67d;
  --md-sys-color-on-primary-dark: #123800;
  --md-sys-color-primary-container-dark: #215105;
  --md-sys-color-on-primary-container-dark: #b9f396;
  --md-sys-color-primary-fixed-dark: #b9f396;
  --md-sys-color-on-primary-fixed-dark: #082100;
  --md-sys-color-primary-fixed-dim-dark: #9dd67d;
  --md-sys-color-on-primary-fixed-variant-dark: #215105;
  --md-sys-color-secondary-dark: #9ed67c;
  --md-sys-color-on-secondary-dark: #143800;
  --md-sys-color-secondary-container-dark: #225105;
  --md-sys-color-on-secondary-container-dark: #b9f295;
  --md-sys-color-secondary-fixed-dark: #b9f295;
  --md-sys-color-on-secondary-fixed-dark: #082100;
  --md-sys-color-secondary-fixed-dim-dark: #9ed67c;
  --md-sys-color-on-secondary-fixed-variant-dark: #225105;
  --md-sys-color-tertiary-dark: #ffb86c;
  --md-sys-color-on-tertiary-dark: #492900;
  --md-sys-color-tertiary-container-dark: #683d00;
  --md-sys-color-on-tertiary-container-dark: #ffdcbc;
  --md-sys-color-tertiary-fixed-dark: #ffdcbc;
  --md-sys-color-on-tertiary-fixed-dark: #2c1700;
  --md-sys-color-tertiary-fixed-dim-dark: #ffb86c;
  --md-sys-color-on-tertiary-fixed-variant-dark: #683d00;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #1a1c18;
  --md-sys-color-on-background-dark: #e3e3dc;
  --md-sys-color-outline-dark: #8d9286;
  --md-sys-color-inverse-on-surface-dark: #1a1c18;
  --md-sys-color-inverse-surface-dark: #e3e3dc;
  --md-sys-color-inverse-primary-dark: #396a1f;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #9dd67d;
  --md-sys-color-outline-variant-dark: #43483e;
  --md-sys-color-scrim-dark: #000000;
  --md-sys-color-surface-dark: #121410;
  --md-sys-color-on-surface-dark: #c6c7c0;
  --md-sys-color-surface-variant-dark: #43483e;
  --md-sys-color-on-surface-variant-dark: #c3c8bb;
  --md-sys-color-surface-container-highest-dark: #343531;
  --md-sys-color-surface-container-high-dark: #292b26;
  --md-sys-color-surface-container-dark: #1e201c;
  --md-sys-color-surface-container-low-dark: #1a1c18;
  --md-sys-color-surface-container-lowest-dark: #0d0f0b;
  --md-sys-color-surface-dim-dark: #121410;
  --md-sys-color-surface-bright-dark: #383a35;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Roboto;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Roboto;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Roboto;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Roboto;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Roboto;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Roboto;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Roboto;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.50px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Roboto;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.40px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.10px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.50px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Roboto;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.50px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Roboto;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Roboto;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Roboto;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.10px;
}
