<section class="logo-slider section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Productos, precios y promociones de todos tus supermercados favoritos.</h2>
                <div class="logo-slider-track">
                    <div class="slide slide-ahorramas">
                        <img src="/images/markets/ahorramas.png" height="100" width="100" alt="Ahorra Más">
                    </div>
                    <div class="slide slide-alcampo">
                        <img src="/images/markets/alcampo.jpg" height="100" width="100" alt="Alcampo">
                    </div>
                    <div class="slide slide-aldi">
                        <img src="/images/markets/aldi.png" height="100" width="100" alt="Aldi">
                    </div>
                    <div class="slide slide-carrefour">
                        <img src="/images/markets/carrefour.png" height="100" width="100" alt="Carrefour">
                    </div>
                    <div class="slide slide-consum">
                        <img src="/images/markets/consum.png" height="100" width="100" alt="Consum">
                    </div>
                    <div class="slide slide-coviran">
                        <img src="/images/markets/coviran.png" height="100" width="100" alt="Covirán">
                    </div>
                    <div class="slide slide-dia">
                        <!--<img src="/images/markets/dia.png" height="100" width="100" alt="DIA">-->
                    </div>
                    <div class="slide">
                        <img src="/images/markets/elcorteingles.png" height="100" width="100" alt="El Corte Inglés">
                    </div>
                    <div class="slide">
                        <img src="/images/markets/eroski.png" height="100" width="100" alt="Eroski">
                    </div>
                    <div class="slide">
                        <img src="/images/markets/hiperdino.png" height="100" width="100" alt="Hiperdino">
                    </div>
                    <div class="slide">
                        <img src="/images/markets/lidl.png" height="100" width="100" alt="LIDL">
                    </div>
                    <div class="slide">
                        <img src="/images/markets/mercadona.png" height="100" width="100" alt="Mercadona">
                    </div>
                    <div class="slide">
                        <img src="/images/markets/spar.png" height="100" width="100" alt="SPAR">
                    </div>
                    <div class="slide">
                        <img src="/images/markets/supersol.jpg" height="100" width="100" alt="SuperSol">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

